<%= render 'layouts/aside' %>
<div class="robot">
  <div class="robot-left">
  <h1 class="robot1">Robot　4号のページへようこそ</h1>
  <p class="robot-left-p">僕の友達のロボットを　紹介するね！　</p>
  <%= image_tag("robot5.webp", alt:"logo", width:"600px") %>
  </div>
  <div class="robot-right">
  <h1>Robots#robot4</h1>
  <p>robot</p>
  <%= image_tag("robot4.webp", alt:"logo", width:"600px") %>
  </div>
</div>
