<%= render 'layouts/aside' %>
<div class="robot">
  <div class="robot-left">
  <h1>Robots#robot5</h1>
  <p>Find me in app/views/robots/robot4.html.erb</p>
  <%= image_tag("robot5.webp", alt:"logo", width:"600px") %>
  </div>
  <div class="robot-right">
  <h1>Robots#robot4</h1>
  <p>robot</p>
  <%= image_tag("robot4.webp", alt:"logo", width:"600px") %>
  </div>
</div>
