<%= render 'layouts/aside' %>
<div class="robot">
  <div class="robot-left">
  <h1>Robots#robot2</h1>
  <p>Find me in app/views/robots/robot2.html.erb</p>
  <%= image_tag("robot2.png", alt:"logo", width:"800px")%>
  </div>
  <div class="robot-right"></div>
</div>
