<%= render 'layouts/aside' %>
<div class="robot">
  <div class="robot-left">
  <h1 class="robot1">Robot　2号のページへようこそ</h1>
  <p class="robot-left-p">僕は　蛙ちゃんが　大好きなんだ！　</p>
  <%= image_tag("robot2.png", alt:"logo", width:"800px")%>
  </div>
  <div class="robot-right">
    <button class="robot-right-btn"><i class="fas fa-frog fa fa-4x flog"></i></button>
  </div>
</div>
