<%= render 'layouts/aside' %>
<div class="robot">
  <%= image_tag("frog-2.jpg", alt:"logo", width:"800px", id:"robot-frog2")%>
  <div class="robot-left">
  <h1 class="robot1">Robot　2号のページへようこそ</h1>
  <p class="robot-left-p">僕は　蛙ちゃんが　大好きなんだ！　</p>
  <%= image_tag("robot2.png", alt:"logo", width:"800px")%>
  </div>
  <div class="robot-right">
    <button class="robot-right-btn" id="frog-button"><i class="fas fa-frog fa fa-4x frog"></i></button>
    <button class="robot-right-btn" id="frog-button2"><i class="fal fa-frog fa fa-4x frog" ></i></button>
    <%= image_tag("frog-1.jpg", alt:"logo", width:"800px", id:"robot-frog1")%>
    
  </div>
</div>
