<%= render 'layouts/aside' %>
<div class="robot">
  <div class="robot-left">
  <h1>Robots#robot6</h1>
  <p>Find me in app/views/robots/robot3.html.erb</p>
  <%= image_tag("robot6.webp", alt:"logo", width:"800px") %>
  </div>
  <div class="robot-right">
  <h1>Robots#robot3</h1>
  <p>robot</p>
  <%= image_tag("robot3.jpeg", ale:"logo", width:"650px") %>
  </div>
</div>
