<%= render 'layouts/aside' %>
<div class="robot">
 <%= image_tag("train-1.jpeg", alt:"logo", width:"100%", id:"robot-train") %>
 <%= image_tag("watermark.jpeg", alt:"logo", width:"70%", id:"watermark") %>
  <div class="robot-left">
  <h1 class="robot1">Robot　3号のページへようこそ</h1>
  <p class="robot-left-p">僕のページで　遊んでいってね！　ボタンを押して遊んでね！　</p>
  <%= image_tag("robot6.webp", alt:"logo", width:"800px") %>
  </div>
  <div class="robot-right">
  <button class="robot-right-btn" id="watermark-up"><i class="fas fa-skull-crossbones fa-4x"></i></button>
  <button class="robot-right-btn" id="train-up"><i class="fas fa-bus-alt fa-4x"></i></button>
  <div id="robot-right-box">青い箱</div>
 

  </div>
</div>
