<%= render 'layouts/aside' %>
<div class="main">
<h1 class="main-link"><%= link_to "ユーザー一覧ページ", users_path %></h1>
<%  @users.each do |user| %>
<p class="main-user-name"><%= user.name %></p>
<% end %>
</div>