<% @user ||= current_user %>
<div class="stats">
  <p><% following_user_path(@user) %>
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </p>
  <p><% followers_user_path(@user) %>
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </p>
</div>