<div class="aside">
  
</div>
<div class="main">
  <h1 class="main-name"><%=link_to "TOY  APPへようこそ", "#" %></h1>
  <h1 class="main-name"><%= link_to "ユーザーネーム", "#" %></h1>
  <div class="main-post">
      <p class="main-post-title">タイトル</p>
      <p class="main-post-content">投稿文</p>
      <p class="main-post-image">投稿写真</p>
  </div>
</div>
