body{
  // background-image: image_url('haruao.jpg');
  background-image: image_url('park1.jpg');
  // background-image: image_url('sora1.jpg');
  background-size: cover;
  .header{
    width:  100%;
    height: 100px;
    // background-color: yellowgreen;
    display: flex;
    &-left{
      width: 300px;
      padding-top: 8px;
      display: flex;
      &-comment{
        color:wheat;
        font-size: 12px;
        display: none;
      }
      &-robot{

      }
    }
    &-left:hover{
      cursor: pointer;
    }
    &-middle{
      text-align: center;
      flex: 1;
      &-title{
        text-decoration: none;
        font-size: 45px;
      }
    }
    &-rigtht{
      width:600px;
      padding-right: 10px;
      line-height: 100px;
      &-ul{
        display: flex;
        list-style: none;
        font-size: 24px;
        &_li{
          margin:0 auto;
          padding: 0 10px;
        }
        &_li a{
          text-decoration: none;
        }
      }
      // &-ul a{
      //   text-decoration: none;
      // } 
    }
  }
  .container{
    width: 100%;
    display: flex;
    // background-color: lemonchiffon;
    .aside{
      width:300px;
      height: 100vh;
      // background-color: lightblue;
      &-name{
        margin-top: 80px;
        margin-bottom: 0px;
      }
      &-name a{
        text-decoration: none;
      }
      &-post{
        width:  100%;
        height: 400px;
        text-align: center; 
        margin: auto;
        padding-top: 10px;
        &-title{
          font-size: 24px;
          font-weight: bold;
          // border: solid 5px;
          // width: 200px;
          height: 40px;
          padding-top: 10px;
        }
      }
      &-debug{
        width: 60px;
        margin-top: 45px;
      }
    }
    .main{
      width: calc(100% - 300px);
      height: 100vh;
      // background-color: pink; 
      text-align: center;  
      padding-top: 30px;
      &-name{
        margin-top: 0px;
        margin-bottom: 0px;
      }
      &-name a{
        text-decoration: none;
      }
      &-post{
        width: 700px;
        height:400px;
        text-align: center; 
        margin: auto;
        padding-top: 10px;
        list-style: none;
        &-title{
          font-size: 24px;
          font-weight: bold;
          // border: solid 5px;
          // width: 200px;
          height: 40px;
          padding-top: 10px;
        }
        &-content{
          border: solid 1px ;
          background-color: honeydew;
          min-height:50px;
          padding-top: 10px;
          text-align: left;
        }
        &-image{
          border: solid 1px ;
          background-color: honeydew;
          min-height:400px;
          padding-top: 10px;
        }
      }
      &-link{
        
      }
      &-link a{
        text-decoration: none;
      }
      &-user-name{
        font-size: 45px;
        margin: 0;
        text-decoration: none;
        list-style: none;
      }
      &-user-name a{
        // list-style: none;
        text-decoration: none;
      }
    }
    // ここからロボット
    .robot{
      width: calc(100% - 300px);
      height: 100vh;
      // background-color: olive; 
      display: flex;
      &-left{
        &-p{
          font-size: 28px;
          color: green;
          display: none;
        }
      }
      &-right{
        &-btn{
          background-color: transparent;
          border: 2px solid transparent;
        }
        &-btn:hover{
          cursor: pointer;
          background-color:rgba(0,255,255,0.5);
        }
      }
    }
    // ロボット１
    .robot1{
      font-size: 48px;
      color:greenyellow;
      display: none;
    }
    #btn{
      width: 600px;
      height: 600px;
      background: rgb(25, 182, 25);
      margin-top: 200px; 
      margin-left: 200px;
      text-align: center;
      border-radius: 50%;
      line-height: 600px;
      font-size: 60px;
      color: #fff;
      line-height: 600px; 
      cursor: pointer;
    }
    #btn:hover {
      opacity: 0.9;
    }
    #robot-right-box{
      width: 600px;
      height: 600px;
      background: rgb(25, 75, 182);
      margin-top: 200px; 
      margin-left: 200px;
      text-align: center;
      line-height: 600px;
      cursor: pointer;
    }
    #robot-right-box:hover{
      opacity: 0.5;
    }
// 　　ロボット２
    #robot-frog1{
      margin-top: 200px;
      border-radius: 10px;
      display: none;
    }
    #robot-frog1:hover {
      opacity: 0.8;
    }
    #robot-frog2{
      float: left;
      position: fixed;
      width: 1500px;
      margin-top: 40px;
      border-radius: 100px;
      display: none;
    }
    #robot-frog2:hover {
      opacity: 0.5;
    }

    #robot4 {
      display: none;
    }
    #robot6{
      display: none;
    }
    #robot5 {
      cursor: pointer;
    }
    #robot4up{
      margin-top: 20px;
    }
    #robot7 {
      float: left;
      position: fixed;
      width: 1500px;
      margin-top: 40px;
      border-radius: 100px;
      display: none;
    }
    #robot7:hover{
      opacity: 0.5;
    }
    #robot-train{
      float: left;
      position: absolute;
      margin-top: 20px; 
      margin-left: 20px;
      display: none;
    }
    #robot-train:hover{
      opacity: 0.5;
    }
    #watermark{
      float: left;
      position: absolute;
      margin-top: 20px; 
      margin-left: 20px;
      border-radius: 200px;
      display: none;
    }

    // ここからボタン
    .btn{
      font-size: 24px;
      border: 1px solid #bbb;
      background-color: #5dca88;
      padding: 8px 24px;
      display: inline-block;
      opacity: 0.8;
      border-radius: 4px;
      cursor: pointer;
    }
    .btn:hover{
      opacity: 1;
    }
  }
  .footer{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: #202020;
    // position: fixed;
    bottom: 0;
    &-parts{
      width: calc(100% / 3);
      font-size: 14px;
      color:lightcyan;
      margin-left: 100px;
      &-title{
      font-size: 18px;
      font-weight: bold;
      padding-top: 10px;
      padding-bottom: 20px;
      }
    }
    &-parts a{
      color:lightcyan;
      text-decoration: none;
    }
  }
  
  .form{
    width:700px;
    margin: 0 auto;
    &_h1 a{
      text-decoration: none;
    }
    &_label{
      display: block;
      width: 100%;
      font-size: 24px;
      margin-top: 10px;
      padding-bottom: 0;
    }
    &_title{
      display: block;
      width: 100%;
      font-size: 24px;
      margin: 0px;
    }
    &_content{
      display: block;
      width: 100%;
      height: 350px;
      font-size: 24px;
      margin-top: 10px;
    }
    &_btn{
      display: block;
      width: 200px;
      font-size: 24px;
      margin-top: 30px;
    }
    &_image{
      display: block;
      margin-top: 20px;
    }
  } 
  
  // ここからエラーメッセージ
  .alert{
    text-align: center;
    &-warning{
      color: red;
    }
    &-warning ul{
      color: red;
    }
  } 
  // ここからfontawesome
  .frog{
    margin-top: 30px;
    color:rgb(51, 182, 51);
  }
}
