body{
  // background-image: image_url('haruao.jpg');
  background-image: image_url('park1.jpg');
  // background-image: image_url('sora1.jpg');
  background-size: cover;
  .header{
    width:  100%;
    height: 100px;
    // background-color: yellowgreen;
    display: flex;
    &-left{
      width: 300px;
      padding-top: 8px;
      display: flex;
      &-robot{

      }
    }
    &-middle{
      text-align: center;
      flex: 1;
      &-title{
        text-decoration: none;
        font-size: 45px;
      }
    }
    &-rigtht{
      width:600px;
      padding-right: 10px;
      line-height: 100px;
      &-link{
        font-size: 24px;
        text-decoration: none;
        margin:0 auto;
        padding: 0 15px;
      }
    }
  }
  .container{
    width: 100%;
    display: flex;
    // background-color: lemonchiffon;
    .aside{
      width:300px;
      height: 100vh;
      // background-color: lightblue;
    }
    .main{
      width: calc(100% - 300px);
      height: 100vh;
      // background-color: pink; 
      text-align: center;  
      padding-top: 30px;
      &-name{
        margin-top: 0px;
        margin-bottom: 0px;
      }
      &-name a{
        text-decoration: none;
      }
      &-post{
        width: 700px;
        height:400px;
        text-align: center; 
        margin: auto;
        padding-top: 10px;
        &-title{
          font-size: 24px;
          font-weight: bold;
          // border: solid 5px;
          // width: 200px;
          height: 40px;
          padding-top: 10px;
        }
        &-content{
          border: solid 5px ;
          height:250px;
          padding-top: 10px;
        }
        &-image{
          border: solid 5px ;
          height:400px;
          padding-top: 10px;
        }
      }
    }
  }
  .footer{
    display: flex;
    width: 100%;
    height: 150px;
    // background-color: #202020;
    // position: fixed;
    bottom: 0;
    &-parts{
      width: calc(100% / 3);
      font-size: 14px;
      color:lightcyan;
      margin-left: 100px;
      &-title{
      font-size: 18px;
      font-weight: bold;
      padding-top: 10px;
      padding-bottom: 20px;
      }
    }
    &-parts a{
      color:lightcyan;
      text-decoration: none;
    }
  }
  
  .form{
    width:700px;
    margin: 0 auto;
    &_h1 a{
      text-decoration: none;
    }
    &_label{
      display: block;
      width: 100%;
      font-size: 24px;
      margin-top: 10px;
      padding-bottom: 0;
    }
    &_title{
      display: block;
      width: 100%;
      font-size: 24px;
      margin: 0px;
    }
    &_content{
      display: block;
      width: 100%;
      height: 350px;
      font-size: 24px;
      margin-top: 10px;
    }
    &_btn{
      display: block;
      width: 200px;
      font-size: 24px;
      margin-top: 30px;
    }
    &_image{
      display: block;
      margin-top: 20px;
    }
  } 
}