body{
  // background-image: image_url('haruao.jpg');
  background-image: image_url('park1.jpg');
  // background-image: image_url('sora1.jpg');
  background-size: cover;
  .header{
    width:  100%;
    height: 100px;
    background-color: yellowgreen;
  }
  .container{
    width: 100%;
    display: flex;
    // background-color: lemonchiffon;
    .aside{
      width:300px;
      height: 100vh;
      // background-color: lightblue;
    }
    .main{
      width: calc(100% - 300px);
      height: 100vh;
      // background-color: pink; 
      text-align: center;  
      padding-top: 30px;
      &-name{
        margin-top: 0px;
        margin-bottom: 0px;
      }
      &-name a{
        text-decoration: none;
      }
      &-post{
        width: 700px;
        height:400px;
        text-align: center; 
        margin: auto;
        padding-top: 10px;
        &-title{
          font-size: 24px;
          font-weight: bold;
          border: solid 5px;
          height: 40px;
          padding-top: 10px;
        }
        &-content{
          border: solid 5px ;
          height:250px;
          padding-top: 10px;
        }
        &-image{
          border: solid 5px ;
          height:400px;
          padding-top: 10px;
        }
      }
    }
  }
  .footer{
    width: 100%;
    height: 50px;
    background-color: lawngreen;
    // position: fixed;
    bottom: 0;
  }
  
  .form{
    width:700px;
    margin: 0 auto;
    &_h1 a{
      text-decoration: none;
    }
    &_label{
      display: block;
      width: 100%;
      font-size: 24px;
      margin-top: 10px;
      padding-bottom: 0;
    }
    &_title{
      display: block;
      width: 100%;
      font-size: 24px;
      margin: 0px;
    }
    &_content{
      display: block;
      width: 100%;
      height: 350px;
      font-size: 24px;
      margin-top: 10px;
    }
    &_btn{
      display: block;
      width: 200px;
      font-size: 24px;
      margin-top: 30px;
    }
    &_image{
      display: block;
      margin-top: 20px;
    }
  } 
}