body{
  // background-image: image_url('haruao.jpg');
  background-image: image_url('park1.jpg');
  // background-image: image_url('sora1.jpg');
  background-size: cover;
}
.header{
  width:  100%;
  height: 200px;
  background-color: yellowgreen;
}
.container{
  width: 100%;
  display: flex;
  height: 1200px;
  background-color: lemonchiffon;
  .aside{
    width:300px;
    background-color: lightblue;
  }
  .main{
    width: calc(100% - 300px);
    background-color: pink; 
    text-align: center;  
    padding-top: 30px;
    // position: relative;
    &-name a{
      text-decoration: none;
    }
    &-post{
      width: 700px;
      height:400px;
      text-align: center; 
      margin: auto;
      padding-top: 10px;
      &-content{
        border: solid 5px ;
        height:400px;
        padding-top: 10px;
      }
      &-image{
        border: solid 5px ;
        height:400px;
        padding-top: 10px;
      }
    }
  }
}

.footer{
  width: 100%;
  height: 200px;
  background-color: lawngreen;
  bottom: 0;
}